* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header>.container {
    justify-content: space-between;
}

.container {
    max-width: 1110px;
    padding: 0 20px;
    margin: 0 auto;
    width: 100%;
}

.df {
    display: flex;
    align-items: center;
}

.header {
    padding: 12px 20px;
    box-shadow: 0px 4px 12px 0px #CFCFCF40;
}

.h-a {
    font-family: Lexend;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 178%;
    letter-spacing: 0%;
    color: #70737C;
}

.ul {
    gap: 32px;
}

.h-r>div {
    gap: 8px;
}

.h-r>div:nth-child(3) {
    gap: 24px;
}

.h-r>div:nth-child(2)>input {
    font-family: Lexend;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 178%;
    letter-spacing: 0%;
    color: #70737C;
    width: 285px;
    height: 48px;
    margin: 0 12px;
    border: 1px solid #EFEFEF;
    border-radius: 24px;
    padding: 12px 10px 12px 60px;
    outline: none;
    background: url("../img/search.svg") no-repeat 20px 10px;
}

.menu {
    display: none;
}

.main {}

.container {
    padding: 0;
}

.s-hero {
    background-color: #EAF1EB;
    margin: 30px 0 10px 0;
    border-radius: 24px;
    padding: 48px 0 52px 76px;
}

.s-hero>.container {
    padding: 0;
}

.hero-wrap {
    position: relative;
}

.hero-wrap>div {
    max-width: 650px;
    width: 100%;
}
.hero-wrap>div:nth-child(2) {
    width: 100%;
    height: 100%;
}

.hero-wrap>div>h1 {
    font-family: Lexend;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 48px;
    line-height: 54px;
    letter-spacing: -5%;
    color: #1F2533;
    margin-bottom: 12px;
}

.hero-wrap>div>p {
    width: 560px;
    font-family: Lexend;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0%;
    color: #70737C;
    margin-bottom: 20px;
}

.hero-wrap>div>div {
    gap: 20px;
    margin-bottom: 25px;
}

.hero-wrap>div>div>span:nth-child(1) {
    gap: 16px;
    font-family: Lexend;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 42px;
    line-height: 54px;
    letter-spacing: 0%;
    color: #1F2533;
}
.hero-wrap>div>div>span:nth-child(2) {
    font-family: Lexend;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 54px;
    letter-spacing: 0%;
    color: #70737C;
}

.btn-box {
    gap: 12px;
}

.btn-box>button {
    font-family: Lexend;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 178%;
    letter-spacing: -3.5%;
    color: #fff;
    background-color: #359740;
    padding: 10px 32px;
    border-radius: 8px;
    border: none;
}

.btn-box>button:nth-child(2) {
    color: #359740;
    background-color: #fff;
}

.right {
    position: absolute;
    top: 10px;
    right: -310px;
}